<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Example configuration entries to be added to the application consuming this client-->
  <!-- Begin example section -->
  
  <appSettings>   

    <!--For connecting to the rally api-->
    <add key ="RallyApiKey" value="_ohEzikAMTceyleYUnqi8Sxon5kFNYk1SgvunNdLoE"/>
    <add key ="RallyServer" value="https://rally1.rallydev.com/"/>
    <add key="CurrentRelease" value="7.2.1"/>
    
    <add key="Browser" value="IE" />
    <add key="DebugMode" value="false"/>
    <add key="log4net.Internal.Debug" value="false" />
    <add key="RemoteExecution" value="OFF" />
    <add key="maxtimeout" value="10" />
    <add key="loadingScreenAppearWaitTime" value="60" />
    
    <!-- Mail Config -->
    <add key="MailReporting" value="On" />
    <add key="MailSubject" value="eFR Automation Execution Report" />
    <add key="MailTo" value="jonik.cannon@optum.com" />
    <add key="MailToGroup" value="123@123.com" />
    <add key="MachineName" value="LH7U0CND53630LL" />
  
  </appSettings>
 
 
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>