<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="2.0.2.0" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net452" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="NHibernate" version="4.1.1.4000" targetFramework="net452" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />
  <package id="NUnit.Console" version="3.6.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.6.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="Optum.Automation.ReportGenerator" version="1.0.0.7" targetFramework="net452" />
  <package id="Optum.CAC.Automation.OptumAutomationFramework" version="1.0.0.19" targetFramework="net452" />
  <package id="RazorEngine" version="3.9.3" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="Selenium.Support" version="3.4.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.29.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.16.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver.Win32" version="0.16.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.4.0" targetFramework="net452" />
  <package id="SonarAnalyzer.CSharp" version="5.9.0.1001" targetFramework="net452" developmentDependency="true" />
  <package id="YamlDotNet" version="4.1.0" targetFramework="net452" />
</packages>