<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Example configuration entries to be added to the application consuming this client-->
  <!-- Begin example section -->
  <configSections>
    <section name="ALMConfigurationSection" type="TATAFramework.FrameworkComponents.ALMIntegration.ALMConfig.ALMConfigurationSection, TATAFramework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <appSettings>
    <!-- Tool Config -->
    <add key="Tool" value="SL" />
    <add key="Browser" value="IE" />
    <add key="log4net.Internal.Debug" value="false" />
    <add key="RemoteExecution" value="OFF" />
    <add key="maxtimeout" value="100" />

    <!--URL and User Config -->
    
    <add key="AppURL" value="http://efr6qa.caremedic.net/?clientaccess=1" />
    <add key="loginusername" value="qtp_auto" />
    <add key="loginpwd" value="Optum123" />
    <add key="clientid" value="DIGNPHOQA2" />
    
    

    <!--DB Config -->
    <add key="dbserver" value="TPACCQVDB176SCS.Caremedic.net" />
    <add key="dbname" value="DignPhoQA" />
    <add key="dbuserid" value="webuser" />
    <add key="dbpassword" value="|_Hx2DaJpR5" />

    <!-- Mail Config -->
    <add key="MailReporting" value="ON" />
    <add key="MailSubject" value="eFR Automation Execution Report" />
    <add key="MailTo" value="suresh.racha@optum.com" />
    <add key="MailToGroup" value="123@123.com" /> 
    <add key="MachineName" value="LH7U0CNU3399BK5_" />

    <!-- sivakanth.potluri@optum.com;;amitava.nath@optum.com-->
     <!-- Anthill Config --> 

    <add key="AntHillInt" value="OFF" /> 
    <add key="AntHillWorkflowId" value="${Your Project ID}" /> 
    <add key="AntHillUserId" value="${MSID with which you can logon to Anthill}" /> 
    <add key="EncryptedPassword" value="${Encrypted MS Password}"/>


    <!-- ALMClient Config -->
    <add key="ALMReporting" value="OFF" />
    <add key="ALMBaseURL" value="http://alm.optum.com:8080" />
    <add key="ALMUser" value="sracha" />
    <add key="ALMPassword" value="test123" />
    <add key="ALMDomain" value="caremedic" />
    <add key="ALMProject" value="efr" />
    <add key="ALMParentFolderId" value="351" />


  </appSettings>
  <!-- ALM Client Cofig Section starts here -->
  <ALMConfigurationSection>
    <ALMConfigurations>
      <ALMConfiguration majorVersion="12" minorVersion="10">
        <!-- Settings -->
        <setting name="IsSessionRequired" value="true"/>
        <setting name="IsLogoutRequired" value="true"/>
        <setting name="SessionCookieName" value="XSRF-TOKEN" type="Setting"/>
        <setting name="TokenCookieName" value="LWSSO_COOKIE_KEY" type="Setting"/>
        <!-- Address -->
        <setting name="Login" value="/qcbin/authentication-point/authenticate" type="Address"/>
        <setting name="Logout" value="/qcbin/authentication-point/logout" type="Address"/>
        <setting name="LockEntity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}/lock" type="Address"/>
        <setting name="EntityCollection" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}s" type="Address"/>
        <setting name="Entity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}" type="Address"/>
        <setting name="IsAuthenticated" value="/qcbin/rest/is-authenticated" type="Address"/>
        <setting name="SessionAddress" value="/qcbin/rest/site-session" type="Address"/>
      </ALMConfiguration>
      <ALMConfiguration majorVersion="12" minorVersion="20">
        <!-- Settings -->
        <setting name="IsSessionRequired" value="true" type="Setting"/>
        <setting name="IsLogoutRequired" value="true" type="Setting"/>
        <setting name="SessionCookieName" value="XSRF-TOKEN" type="Setting"/>
        <setting name="TokenCookieName" value="LWSSO_COOKIE_KEY" type="Setting"/>
        <!-- Address -->
        <setting name="Login" value="/qcbin/authentication-point/authenticate" type="Address"/>
        <setting name="Logout" value="/qcbin/authentication-point/logout" type="Address"/>
        <setting name="LockEntity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}/lock" type="Address"/>
        <setting name="EntityCollection" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}s" type="Address"/>
        <setting name="Entity" value="/qcbin/rest/domains/{domain}/projects/{project}/{Entity Type}/{Entity ID}" type="Address"/>
        <setting name="IsAuthenticated" value="/qcbin/rest/is-authenticated" type="Address"/>
        <setting name="SessionAddress" value="/qcbin/rest/site-session" type="Address"/>
      </ALMConfiguration>
    </ALMConfigurations>
  </ALMConfigurationSection>
  <!-- ALM Client Cofig Section ends here -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>