<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

  </configSections>
  <appSettings>
    <add key="AutoConnString" value="Server=TPACCQVDB176SCS.CAREMEDIC.NET;DataBase=eFRAutomation;Trusted_Connection=no;User ID=webuser;Password=|_Hx2DaJpR51" />
    
    <!--For connecting to the rally api-->
    <add key ="RallyApiKey" value="_ohEzikAMTceyleYUnqi8Sxon5kFNYk1SgvunNdLoE"/>
    <add key ="RallyServer" value="https://rally1.rallydev.com/"/>


    <add key="loginusername" value="AutoManager1" />
    <add key="loginpwd" value="eFRAutomation1" />
    <add key="clientid" value="Automation" />
    
    <!--DB Config -->
    <add key="dbserver" value="TPACCQVDB176SCS.Caremedic.net" />
    <add key="dbname" value="DignPhoQA" />
    <add key="dbuserid" value="webuser" />
    <add key="dbpassword" value="|_Hx2DaJpR51" />

    <add key="nteractDbserv" value="TPACCQVDB106EFR.CAREMEDIC.NET" />
    <add key="nteractDbname" value="Interact" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>